.logo {
	width: 150;
}

.content {
	height: 72px;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.iconhcs {
	width: 19px;
	height: 19px;
}

@media (max-width: 630px) {
	.logo {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		width: 150px;
	}
 }